/meshPro/meshPro.vcxproj.filters
/meshPro/meshPro.vcxproj.user
/meshPro/meshPro.vcxproj
/meshPro/opencv.props
/meshPro/OpenMesh.props
GeneratedFiles
Debug
/sketch.sdf
/sketch.sln
/sketch.v12.suo
/sketch.opensdf
